.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.verticalLine {
    width: 1px;
    height: 100%;
    background-color:grey;
    margin: 0 .35vw;
}

@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .mainThumbnailSummary, .listItemSummary {
        font-size: 0.85rem;
    }
}