.dbSideNavContainer {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    flex: 0 0 260px;
    background-color: #f2f4f8;
}

.dbSideNavHeader {
    position: relative;
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dbSideNavUser {
    display: inline-flex;
    align-items: center;
    padding-left: 0.7rem;
}

.dbSideNavUserPhoto {
    padding: 4px;
    border: 1px solid #262626;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}

.dbSideNavUserPhoto img {
    width: 35px;
    height: auto;
    border-radius: 50%;
    display: block;
}

.dbSideNavUserInfo {
    padding-left: 15px;
}

.dbSideNavUserName {

}

.dbSideNavUserRole {
    display: block;
    font-size: 0.63rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
}

.toggleArrow {
    padding: 3px;
    font-size: 14px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.chevronDownIcon::before {
    content: "\e9b4";
}

.dbSideNavMenuContainer {
    padding: 1rem 1.5rem;
    margin-bottom: 0px;
    list-style: none;
}

.dbSideNavSubHeader {
    text-transform: uppercase;
    font-size: 0.72rem;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 0px;
    position: relative;
}

.dbSideNavExpandableOption {
    border-bottom: none;
    position: relative;
}

.dbSideNavExpandableOption a {
    font-size: 0.9rem;
    color: #3E4B5B;
    display: flex;
    align-items: center;
    position: relative;
}

.dbSideNavExpandableOption a::before {
    content: "\e91c";
    font-size: 7px;
    right: 5px;
    font-family: 'osfont' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}

.dbSideNavOptionIcon {
    font-size: 18px;
    padding: 7px 10px 7px 0px;
    width: 40px;
    display: block;
    text-align: center;
}

.layoutIcon::before {
    content: "\ea05";
}

.layersIcon::before {
    content: "\ea04";
}

.packageIcon::before {
    content: "\ea27";
}

@media (max-width: 1024px) {
    .dbSideNavContainer {
        display: none !important;
    }
}