.mainThumbnailWrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
}

.mainThumbnailImage {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.mainThumbnailSummary {
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    color: #253544;
    text-align: center;
}