.navStyle {
	display: flex;
	flex-direction: row;
	align-items: center;
	overflow-x: auto;
	white-space: nowrap;
	font-weight: var(--medium);
	flex-grow: 1;
}

.navLink {
	cursor: pointer;
	text-decoration: none;
	display: flex;
	color: var(--text-color-secondary);
	align-items: center;
	padding-left: var(--space-md);
	padding-right: var(--space-md);
}

.navLink:hover {
	color: var(--text-color);
}

.activeLink,
.navLink[aria-current="page"] {
	color: var(--primary);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

.activeLink:hover,
.navLink[aria-current="page"]:hover {
	color: var(--primary);
}

/* Media query for displaying the hamburger menu on smaller screens */
@media (max-width: 1245px) {
	.navStyle {
		display: none;
		flex-direction: column;
		align-items: flex-start;
		background: white;
		position: absolute;
		top: 40px; /* Adjust based on the position of the hamburger icon */
		left: 0;
		width: 100%;
		box-shadow: 0px 2px 6px -3px #aaa;
	}
	
	.open {
		display: flex;
		width: 200px;
		border: 1px solid #f1f1f1;
		border-radius: 5px;
	}
	
	.hamburger {
		display: block;
		cursor: pointer;
	}
	.navLink {
		cursor: pointer;
		text-decoration: none;
		display: flex;
		color: var(--text-color-secondary);
		align-items: center;
		padding-left: var(--space-md);
		padding-right: var(--space-md);
		padding: 6px 5px;
		border-bottom: 1px solid #f1f1f1;
		width: 100%;
	}
}

/* Default state for hamburger icon */
.hamburger {
	display: none;
	font-size: 24px;
	color: var(--text-color);
	padding: var(--space-md);
}

@media (max-width: 1245px) {
	.hamburger {
		display: block;
	}
}